name: Deploy Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install mkdocs-material "mkdocstrings[python]" mkdocs-minify-plugin mike
          # Install the project itself to allow mkdocstrings to find modules
          pip install -e ./dev

      - name: Deploy to GitHub Pages
        run: |
          # Deploy 'latest' version
          mike deploy --push --update-aliases latest
          # Set 'latest' as default
          mike set-default --push latest
